body > .header .logo {
	font-family: 'Source Sans Pro', sans-serif;
}

/* FLAT Colors */
.bg-turquoise {
	background-color: #1ABC9C;
}
.bg-green-sea {
	background-color: #16A085;
}
.bg-emerald {
	background-color: #2ECC71;
}
.bg-nephritis {
	background-color: #27AE60;
}
.bg-peter-river {
	background-color: #3498DB;
}
.bg-belize-hole {
	background-color: #2980B9;
}
.bg-amethyst {
	background-color: #9B59B6;
}
.bg-wisteria {
	background-color: #8E44AD;
}
.bg-wet-asphalt {
	background-color: #34495E;
}
.bg-midnight-blue {
	background-color: #2C3E50;
}
.bg-sun-flower {
	background-color: #F1C40F;
}
.bg-orange {
	background-color: #F39C12;
}
.bg-carrot {
	background-color: #E67E22;
}
.bg-pumpkin {
	background-color: #D35400;
}
.bg-alizarin {
	background-color: #E74C3C;
}
.bg-pomegranate {
	background-color: #C0392B;
}
.bg-clouds {
	background-color: #ECF0F1;
}
.bg-silver {
	background-color: #BDC3C7
}
.bg-concrete {
	background-color: #95A5A6;
}
.bg-asbestos {
	background-color: #7F8C8D;
}
.bg-turquoise,
.bg-green-sea,
.bg-emerald,
.bg-nephritis,
.bg-peter-river,
.bg-belize-hole,
.bg-amethyst,
.bg-wisteria,
.bg-wet-asphalt,
.bg-midnight-blue,
.bg-sun-flower,
.bg-orange,
.bg-carrot,
.bg-pumpkin,
.bg-alizarin,
.bg-pomegranate,
.bg-clouds,
.bg-silver,
.bg-concrete,
.bg-asbestos {
	color: #f9f9f9 !important;
}

/* DASHBOARD DIVS */
/* dashboard area sections */
#dashboard {
	width: 100%;
}

#dashboard #topsection {
	width: 100%;
	min-height: 20px;
}
#dashboard #leftsection {
	float: left;
	width: 49%;
	min-height: 20px;
}
#dashboard #rightsection {
	float: right;
	width: 49%;
	min-height: 20px;
}

#dashboard .ui-sortable {
	background-color: transparent;
}

#dashboard .ui-sortable-disabled {
	background-color: transparent;
}

#dashboard .ui-sortable-helper {
	width: 300px;
}

/* widgets */
#dashboard div.widget {
	position: relative;
	display: block;
	border: 1px #CCC solid;	
	margin-bottom: 16px;
	background: #FFF;
}

#dashboard div.widget div.header {
	font-weight: bold;
	background-color: #FFF;
	display: block;	
	color: #999;
	padding: 5px;
	line-height: 20px;
}

#dashboard div.widget div.body {
	display: block;
	margin: 5px;
}

#dashboard div.widget div.action {
	position: absolute;
	right: 5px;
	top: 5px;
	line-height: 20px;
}

/* apps */
#dashboard .btn.btn-app {
	padding: 5px;
	margin: 0 0 5px 10px;
	height: 90px;
	border: none;
	background-color: transparent;
}

/* MENU NAVIGATION */
#navigation #menu { padding: 2em 0 2em 2em; }
#navigation #menu a { color: #000; text-decoration: none; }
#navigation #menu a:hover { text-decoration: underline; }

.user-panel > .info {
	padding: 5px 5px 5px 10px;
}

/* STANDARD STYLES */
h2 { margin-top: 0.5em; border-bottom: 1px solid #777; }

/* Breadcrumbs */
.right-side > .content-header > .breadcrumb > li > a > .fa { margin-right: 0px; }

/* Status / Alerts */
.alert>ul { list-style: none !important; }
.alert { padding-left: 15px; margin-left: 0; }

/* Tabular Boxes */
.box-table-header { margin-bottom: 15px; }
.box-actions { float: left; }
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th { background: #C8F7C5; }
.box-actions a, .bg-box-action { background-color: #34495e; color: #FFF; }
.box-actions a:hover, .bg-box-action:hover { background-color: #C0392B; color: #FFF; }
th.middle { margin: 0 auto; text-align: center; }

/* PREFERENCE LIST */
#preference_list { font-size: 1.1em; list-style-type: none; }

/* PREFERENCE FORM */
#preference_form { width: 100%; }
#preference_form td { line-height: 1.5em; vertical-align: middle; padding: 6px 10px 6px 6px; }
#preference_form td.label { width: 45%; vertical-align: top; }
#preference_form input.text { width: 100%; }

/* ACCESS CONTROL SPLASH PAGE */
#access_control_menu td { padding: 0.5em; vertical-align: top; }
#access_control_menu td.icons { text-align: center; }
#access_control_menu td.icons > i { padding-top: 20px; font-size: 4em; }

/* MANAGE PERMISSION SCROLLABLE TREES */
div.scrollable_tree {
    height: 300px;
    overflow: scroll;
    width: 33.333%;
    float: left;
}

/* STYLE FOR ACTION ITEMS ON MANAGE PERMISSIONS PAGE */
div.action_item {
    padding-left: 2em;
}

/* STYLE FOR ALLOW/DENY TABLE CELLS */
.allow { color: green; }
.deny { color: red; }

/* STYLES USED FOR ADVANCED PERMISSION VIEW */
div.advanced_view_tree {
    height: 300px;
    overflow: auto;
}

#access_resources span { cursor: pointer; display: block; }

#access_resources span:hover { font-weight: bold; }

/* DATA GRID TABLE, FOR DISPLAYING TABULAR DATA */
table.data_grid { width: 100%; }

table.data_grid th.center,
table.data_grid td.center { vertical-align: middle; text-align: center; }

table.data_grid .even { background-color: red; color: #FFF; }
table.data_grid .odd { background-color: #FFF; color: red; }

/* Setup the modified style for the CI profiler output */
#codeigniter_profiler { margin: 0pt 0pt 3em 18em; }